.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
  .rightItems {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 60px;
  }
}

@media (max-width: 540px) {
  .wrapper {
    .rightItems {
      padding: 40px;
    }
  }
}

@media (max-width: 480px) {
  .wrapper {
    .rightItems {
      padding: 20px;
    }
  }
}
